body {
    background-image: url("https://img.freepik.com/free-photo/empty-rows-movie-theatre_53876-32199.jpg?w=1060&t=st=1687519203~exp=1687519803~hmac=7db0c8450d54527eda2aaaaa09a8ed95fd8dd9f5dc0ea2e30e3133da17289d9a");
    height: 100vh;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

.container{
    max-width: 80%;
    border: 4px solid darksalmon;
    /* background-color: white */
    margin: auto;
    padding : 20px 0;
    height: 85vh;
    
    
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: whitesmoke
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: whitesmoke
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

p{
    color: whitesmoke;
    font-weight: bold
    
}

